.container-fluid {
    margin-left: 100px;
}
body{
    background-color: #343a40;
}
.container {
    font-size: 24px;
    background: gray;
}
.parallax {
    background-image: url('images/international_space_station.jpeg');
    background-attachment: fixed;
    height: 500px;
}
.victor-pena-logo {
    width: 15%;
    padding-right: 0;
}

#aboutMe_anchor {
    background-color: white;
}


